@font-face {
  font-family: 'Muller';
  src: local('MullerBold'),
    url('../fonts/MullerBold.woff2') format("woff2"),
    url('../fonts/MullerBold.woff') format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('MullerMedium'),
    url('../fonts/MullerMedium.woff2') format("woff2"),
    url('../fonts/MullerMedium.woff') format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Muller';
  src: local('MullerRegular'),
    url('../fonts/MullerRegular.woff2') format("woff2"),
    url('../fonts/MullerRegular.woff') format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
  min-width: 1200px;
  font-family: 'Muller', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  background-color: #f1f1f1;
}

/* global */

:root {
  --main-brown: #cc9933;
  --light-brown: #f0bf5f;
  --dark-brown: #a47312;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 45px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
}

.section-offset:not(:last-child){
  margin-bottom: 70px;
}

.main {
  margin-bottom: 70px;
}

.btn {
  position: relative;
  cursor: pointer;
  padding: 13px 20px;
  border-radius: 10px;
  border: 1px solid var(--main-brown);
  line-height: 16px;
  color: var(--main-brown);
  transition: background-color .3s linear, color .3s linear;
}

.btn:focus {
  background-color: var(--main-brown);
  color: #fff;
  outline: none ;
}

.btn:hover {
  background-color: var(--main-brown);
  color: #fff;
}

.btn:active {
  background-color: var(--dark-brown);
  color: #fff;
}

.main-link {
  outline-offset: 5px;
  outline: 1px solid transparent;
  color: var(--main-brown);
  transition: color .3s linear, outline-color .3s linear;
}

.main-link:focus {
  outline-color: var(--main-brown);
}

.main-link:hover {
  color: var(--light-brown);
}

.main-link:active {
  outline-color: transparent;
  color: var(--dark-brown);
}

/* header */

.header {
  padding-top: 30px;
  margin-bottom: 70px;
}

.heder-top{
  margin-bottom: 30px;
  align-items: center;
}

.header-logo {
  margin-right: 40px;
  font-size: 0;
}

.header-contacts {
  margin-right: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #666;
}

.header-contacts__phone {
  outline-offset: 5px;
  outline: 1px solid transparent;
  color: #666;
  transition: color .3s linear, outline-color .3s  linear;
}

.header-contacts__phone:focus {
  color: var(--main-brown);
  outline-color: var(--main-brown);
}

.header-contacts__phone:hover {
  color: var(--main-brown);
}

.header-contacts__phone:active {
  outline-color: transparent;
  color: var(--dark-brown);
}

.header-link-lk__text {
  padding-left: 3px;
}

.header-link-lk__icon {
  fill: var(--main-brown);
  transition: fill .3s linear;
}

.header-link-lk {
  padding: 9px 5px;
  color: var(--main-brown);
  outline: 1px solid transparent;
  transition: color .3s linear, outline-color .3s linear;
}

.header-link-lk:focus {
  outline-color: var(--main-brown);
}

.header-link-lk:hover {
  color: var(--light-brown);
}

.header-link-lk:hover .header-link-lk__icon {
  fill: var(--light-brown);
}

.header-link-lk:active .header-link-lk__icon {
  fill: var(--main-brown);
}

.header-link-lk:active {
  outline-color: transparent;
  color: var(--dark-brown);
}


.header-bottom {
  height: 70px;
  padding: 0 45px;
  border-radius: 15px;
  background-color: #fff;
}

.header-nav {
  display: flex;
  margin-right: auto;
  align-items: center;
  color: #666;
}

.header-nav__item:not(:last-child) {
  margin-right: 45px;
}

.header-nav-item__link {
  outline-offset: 5px;
  outline: 1px solid transparent;
  transition: outline-color .3s linear, color .3s linear;
}

.header-nav-item__link:focus {
  color: var(--main-brown);
  outline-color: var(--main-brown);
}

.header-nav-item__link:hover {
  color: var(--main-brown);
}

.header-nav-item__link:active {
  outline-color: transparent;
  color: var(--dark-brown);
}

.header-btn {
  display: flex;
  align-items: center;
}

.header-btn:not(:last-child) {
  margin-right: 40px;
}

/* special-offers */

.special-offers__column {
  width: 50%;
  flex-direction: column;
}

.special-offers__column:not(:last-child) {
  margin-right: 24px;
}

.special-offers__box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px 108px 40px 45px;
  border-radius: 15px;
  flex-basis: 100%;
  background: no-repeat center center / cover;
}

.special-offers__box--bgimage-1 {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../img/special-offers-1.jpg");
}

.special-offers__box--bgimage-2 {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../img/special-offers-2.jpg");
}

.special-offers__box--bgimage-3 {
  background-image: linear-gradient(0deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%), url("../img/special-offers-3.jpg");
}

.special-offers__box--big{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.special-offers__box:not(:last-child) {
  margin-bottom: 24px;
}

.special-offers__title {
  margin: 0;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  color: #fff;
}

.special-offers__title--big {
  font-size: 60px;
  line-height: 60px;
}

.special-offers__price {
  margin-bottom: 47px;
  display: block;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  opacity: 0.8;
}

.special-offers__link {
  width: max-content;
  padding-right: 14px;
  background: transparent url("../img/arrow-right.svg") no-repeat right center;
  outline: none;
  color: var(--light-brown);
  transition: padding-right .3s linear, color .1s linear;
}

.special-offers__link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline-offset: 8px;
  outline: 1px solid var(--main-brown);
  opacity: 0;
  transition: opacity .3s linear;
}

.special-offers__link:focus::after {
  opacity: 1;
}

.special-offers__link:hover {
  padding-right: 20px;
}

.special-offers__link:active {
  padding-right: 14px;
  color: #fff;
}

.special-offers__link:active::after {
  opacity: 0;
}

/* about */

.about__text {
  margin: 0;
  padding-right: 280px;
  line-height: 200%;
  color: #000;
}

/* service */

.services__list {
  margin-bottom: 46px;
  flex-wrap: wrap;
}

.services__item  {
  position: relative;
  max-width: 573px;
  margin-bottom: 24px;
  padding: 191px 45px 35px;
  background: #fff no-repeat center top / contain;
  border-radius: 15px;
}

.services__item--img-1 {
  background-image: url("../img/services-1.jpg");
}

.services__item--img-2 {
  background-image: url("../img/services-2.jpg");
}

.services__item--img-3 {
  background-image: url("../img/services-3.jpg");
}

.services__item--img-4 {
  background-image: url("../img/services-4.jpg");
}


.services__item:not(:nth-child(2n)) {
  margin-right: 24px;
}

.services-item__title {
  margin: 0;
  font-size: 20px;
  line-height: 200%;
  font-weight: 500;

  transition: color 0.2s linear;
}

.services-item__link {
  padding-right: 15px;
  outline: none;
  background: transparent url("../img/arrow-right.svg") no-repeat right center;
  color: var(--main-brown);
  transition: padding-right .3s linear, color .1s linear;
}

.services-item__link::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  outline-offset: 8px;
  outline: 1px solid var(--main-brown);
  opacity: 0;
  transition: opacity .3s linear;
}

.services-item__link:focus::after {
  opacity: 1;
}

.services-item__link:hover {
  padding-right: 20px;
  color: var(--light-brown);
}

.services-item__link:active {
  padding-right: 14px;
  color: var(--dark-brown);
}

.services-item__link:active::after {
  opacity: 0;
}

.services-item__text {
  margin: 0;
  line-height: 200%;
}

/* advantages */

.advantages {
  margin-bottom: 48px;
}

.advantages__list {
  flex-wrap: wrap;
}

.advantages__item {
  max-width: 276px;
  margin-bottom: 22px;
  padding: 116px 45px 32px ;
  background: #fff no-repeat 45px 40px;
  border-radius: 15px;
}

.advantages__item--img-1 {
  background-image: url("../img/advantages-1.svg")
}

.advantages__item--img-2 {
  background-image: url("../img/advantages-2.svg")
}

.advantages__item--img-3 {
  background-image: url("../img/advantages-3.svg")
}

.advantages__item--img-4 {
  background-image: url("../img/advantages-4.svg")
}

.advantages__item--img-5 {
  background-image: url("../img/advantages-5.svg")
}

.advantages__item--img-6 {
  background-image: url("../img/advantages-6.svg")
}

.advantages__item--img-7 {
  background-image: url("../img/advantages-7.svg")
}

.advantages__item--img-8 {
  background-image: url("../img/advantages-8.svg")
}

.advantages__item:not(:nth-child(4n)) {
  margin-right: 22px;
}

.advantages-item:last-child {
  margin-right: 0;
}

.advantages-item__desc {
  margin: 0;
  line-height: 200%;
}

/* article */

.articles {
  margin-bottom: 46px;
}

.article__list {
  flex-wrap: wrap;
}

.article__item {
  margin-bottom: 24px;
  max-width: 374px;
  font-size: 0;
}

.article__item:not(:nth-child(3n)) {
  margin-right: 24px;
}

.hotel-preview__img {
  display: block;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
}

.hotel-preview {
  height: 100%;
  border-radius: 15px;
  background: #fff;
}

.hotel-preview__text {
  padding: 32px 45px 45px;
  font-size: 16px;
}

.hotel-preview__price-rating {
  display: flex;
  margin-bottom: 16px;
}

.hotel-preview-price__prefix {
  color: #999;
}

.hotel-preview-price__value {
  padding-right: 10px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}

.hotel-prewiew-text__price {
  margin-right: auto;
  flex-basis: 190px;
}

.hotel-preview-text__desc{
  margin: 0;
  margin-bottom: 16px;
  font-weight: 400;
}

.hotel-preview-text__location {
  display: block;
  margin-bottom: 20px;
  color: #999;
}

.article-item-all {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding: 25px;
  border-radius: 15px;
  background: #fff url("../img/all-hotels.jpg") no-repeat center center / cover;
}

.article-item-all__link {
  outline: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  transition: font-size .3s linear;
}

.article-item-all__link:hover {
  font-size: 21px;
}

.article-item-all__link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.article-item-all__text {
  padding-right: 10px;

}

/* tour */

.tours {
  border-radius: 15px;
  background-color: #e9e9e9;
}

.tours__title {
  padding: 45px 40px 0;

}

.form-container {
  padding: 0 45px 45px;
}

.form-tour {
  padding: 32px 28px;
  background-color: #fff;
  border-radius: 15px;
}

.tour-label {
  margin-right: 41px;
}

.label-text {
  display: inline-block;
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 12px;
}

.tour-item {
  border: none;
  font-size: 16px;
  line-height: 16px;
}

.tour-select {
  width: 170px;
}

.tour-input {
  width: 120px;
}

.tours-form__submit {
  padding: 13px 30px;
}

.input-number::-webkit-inner-spin-button {
  opacity: 1;
}

.input-number {
  border-bottom: 1px solid #e9e9e9;
}
/* contacts */

.contacts-box {
  padding: 45px;
  background-color: #fff;
  border-radius: 15px;
}

.contacts-desc {
  margin-right: 52px;
  max-width: 375px;
  width: 100%;
}

.address__list {
  flex-direction: column;
}

.address__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  padding-bottom: 23px;
  border-bottom: 1px solid #E9E9E9;
}

.address__item:last-child {
  margin-bottom: 45px;
}

.address-value {
  flex-direction: column;
  max-width: 229px;
  line-height: 150%;
}
.address-item__title {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.address-item__address {
  margin: 0;
}

.address-item__chart {
  margin: 0;
}

.contacts-article__btn {
  padding: 27px 30px;
  background-color: #fff;
}

.contacts-img__img {
  height: 100%;
  border-radius: 10px;
}

.address-item__email,
.address-item__phone {
  max-width: max-content;
  color: #CC9933;
}

.adress-item-email__desc {
  color: #999;
}

/* footer */

.footer {
  padding-bottom: 31px;
}

.footer-container {
  position: relative;
  justify-content: space-between;
  padding: 45px;
  border-radius: 15px;
  background: #333 url("../img/footer-logo.svg") no-repeat 739px bottom;
  color: #fff;
}

.footer-logo {
  position: absolute;
  right: 177px;
  bottom: -2px;
}

.footer-info {
  flex-direction: column;
  max-width: 305px;
  line-height: 190%;
}

.footer-info__company-name {
  margin: 0;
  margin-bottom: 37px;
}

.footer-info__oferts {
  margin: 0;
  margin-bottom: 40px;
}

.footer-info__user-terms {
  max-width: max-content;
}

.footer-contacts {
  flex-direction: column;
  max-width: 360px;
  font-style: normal;
  line-height: 30px;
}

.footer-contacts__street {
  margin: 0;
  margin-bottom: 15px;
}

.footer-contacts__phones {
  flex-direction: column;
  margin-bottom: 15px;
}

.footer-contacts__emails {
  flex-direction: column;
}

.footer-contacts__email,
.footer-contacts__phone {
  max-width: max-content;
}

.footer-icons {
  flex-direction: column;
}

.footer-icons__item {
  outline: none;
  line-height: 0;
}

.footer-icon-svg {
  fill: #999;
  transition: fill 0.2s linear;
}

.footer-icons__item:focus .footer-icon-svg {
  fill: var(--main-brown);
}

.footer-icons__item:hover .footer-icon-svg {
  fill: var(--main-brown);
}

.footer-icons__item:active .footer-icon-svg {
  fill: var(--dark-brown);
}

.footer-icons__item:not(:last-child) {
  margin-bottom: 20px;
}

.footer-link {
  line-height: 150%;
  color: #cc9933;
}
